@page "/"
@using System.Globalization
@using filipealmeida.Models
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<div id="home" class="hero-section mt-5 animate__animated animate__fadeInUp" role="region" aria-label="Hero Section">
    @if (bio != null)
    {
        <div class="container text-center">
            <h1 class="display-4">@bio.Name</h1>
            <p class="lead">@bio.Summary</p>
        </div>
    }
</div>

<div id="skills" class="" role="region" aria-label="Skills Section">
    <div class="container">
        @if (skills == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <p style="text-align: center;">
                @foreach (var skill in skills.OrderByDescending(s => int.Parse(s.Proficiency)))
                {
                    <span class="skill-pill">@skill.Name</span>
                }
            </p>
        }
    </div>
</div>

<div id="experience" class="my-5" role="region" aria-label="Experience Section">
    <div class="container">

        @if (experiences == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="timeline">
                @foreach (var experience in experiences.OrderByDescending(e => e.From))
                {
                    <div class="timeline-item" role="article" aria-label="@experience.Title at @experience.Company">
                        <div class="timeline-content">
                            <p>
                                <h4 class="card-title">@experience.Title</h4>
                                <h5 class="card-title">@experience.From.ToString("MMM yyyy", cultureInfo) - 
                                @(experience.To == null ? "current" : experience.To.Value.ToString("MMM yyyy", cultureInfo))</h5>
                            </p>
                            <p class="card-text">@experience.Company<br>@experience.Location</p>
                            <p class="card-text description"> @experience.Description</p>
                        </div>
                    </div>
                }
                <a id="scroll-to-top" class="scroll-to-top-button" @onclick="ScrollToTop">
                </a>
            </div>
        }
    </div>
</div>

@code {
    private Bio? bio;
    private List<Experience>? experiences;
    private List<Skill>? skills;
    private CultureInfo? cultureInfo;

    protected override async Task OnInitializedAsync()
    {
        bio = await HttpClient.GetFromJsonAsync<Bio>("data/bio.json");
        experiences = await HttpClient.GetFromJsonAsync<List<Experience>>("data/experience.json");
        skills = await HttpClient.GetFromJsonAsync<List<Skill>>("data/skills.json");
        cultureInfo = new CultureInfo("en-US");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (experiences != null)
        {
            await JSRuntime.InvokeVoidAsync("initTimeline");
        }
    }

    private async Task ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("window.navbarScroll.scrollToTop");
    }
}